<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login-Food Waste Reduction</title>
        <style>

        </style>
        </head>

        <body>
            <div class="box">
                <h2>Food Wise</h2>

                <form>
                    <label>Email</label>
                    <input type="email">
                    <br>

                    <label>Password</label>
                    <input type="password">
                    <br>

                    <button

                </form>
            </div>
        </body>

    </html>